.title{position: absolute;top: 5%;left:5%;}

.sttitle{
	/*stroke-dasharray: 250 250;
	stroke-dashoffset: 250;*/ 

	animation-name:titledraw;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	
}


@keyframes titledraw {
		
	to {
		stroke-dashoffset:0;
	}

}

.title2{position: absolute;top: 25%;right:3%;}

.sttitle{
	/*stroke-dasharray: 250 250;
	stroke-dashoffset: 250;*/ 

	animation-name:draw;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}


@keyframes draw {
	to {
		stroke-dashoffset:0;
	}

}


.text{position: absolute;left: 5%;top: 17%;
		animation-name: txt;
		animation-duration: 4s;
		animation-fill-mode: forwards;}
@keyframes txt {
	0%{
		filter: blur(100px)

	}

	100%{
		filter: blur(0px);

	}

}

.text2{position: absolute;left: 5%;bottom: 10%;
		animation-name: txt;
		animation-duration: 4s;
		animation-fill-mode: forwards;}
@keyframes txt {
	0%{
		filter: blur(100px)

	}

	100%{
		filter: blur(0px);

	}

}

.text3{position: absolute;right: 31%;bottom: 7.5%;
		animation-name: txt;
		animation-duration: 4s;
		animation-fill-mode: forwards;}
@keyframes txt {
	0%{
		filter: blur(100px)

	}

	100%{
		filter: blur(0px);

	}

}



.line1{position: absolute;bottom: 0%;left: 15%;}
.line1-1{
	stroke-dasharray: 250 250;
	stroke-dashoffset: 250; 

	animation-name:draww;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	animation-direction: alternate;

	}


@keyframes draww {
	to {
		stroke-dashoffset:0;
	}

}

.line2{position: absolute;bottom: 0%;left: 0%;}
.stline2{
	stroke-dasharray: 300 300;
	stroke-dashoffset: 300; 

	animation-name:draww;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;


}


@keyframes draww {
	to {
		stroke-dashoffset:0;
	}

}

.line3{position: absolute;bottom: 0%;left: 33%;}
.stline2{
	stroke-dasharray: 300 300;
	stroke-dashoffset: 300; 

	animation-name:draww;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;


}


@keyframes draww {
	to {
		stroke-dashoffset:0;
	}

}

.line4{position: absolute;bottom: 0%;left: 40%;}
.stline2{
	stroke-dasharray: 300 300;
	stroke-dashoffset: 300; 

	animation-name:draww;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;


}


@keyframes draww {
	to {
		stroke-dashoffset:0;
	}

}

.line5{position: absolute;top: 0%;right: 5%;}
.line1-1{
	stroke-dasharray: 250 250;
	stroke-dashoffset: 250; 

	animation-name:draww;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	

	}


@keyframes draww {
	to {
		stroke-dashoffset:0;
	}

}

.line6{position: absolute;top: 30%;right: 0%;}
.line1-1{
	stroke-dasharray: 250 250;
	stroke-dashoffset: 250; 

	animation-name:draww;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	

	}


@keyframes draww {
	to {
		stroke-dashoffset:0;
	}

}


.bgline1{position: absolute;bottom: 25%;left: 10%;opacity: 50%}
.bgline1-1{
	stroke-dasharray: 250 250;
	stroke-dashoffset: 250; 

	animation-name:drawww;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	}


@keyframes drawww {
	to {
		stroke-dashoffset:0;
	}

}


.bgline2{position: absolute;top:-7%;right: 7%;}
.st2{
	stroke-dasharray: 100 100;
	stroke-dashoffset: 100; 

	animation-name:drawwww;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	animation-direction: alternate;
}


@keyframes drawwww {
	to {
		stroke-dashoffset:0;
	}

}


.bgline3{position: absolute;bottom: 4%;right: 10%;}
.bgline3-2{
	stroke-dasharray: 500 500;
	stroke-dashoffset: 500; 

	animation-name:drawwww;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	animation-direction: alternate;
}


@keyframes drawwww {
	to {
		stroke-dashoffset:0;
	}

}



.stage {
  background: none;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}
 .ball {
  animation: slide 6s linear;
  animation-iteration-count:infinite;
  animation-direction: alternate;

}
.ball {
  background: none;
  border:1px solid black;
  border-radius: 50%;
  height: 80px;
  position: absolute;
  width: 80px;
  opacity: 30%
}

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 8%;
    top: 150%;
  }
  100% {
    left: 35%;
    top: 0;
  }
}

.stage2 {
  background: none;
  border-radius: 6px;
  height: 100px;
  position: relative;
  min-width: 338px;
}
 .ball2 {
  animation: slideb 8s linear;
  animation-iteration-count:infinite;
  animation-direction: alternate;

}
.ball2 {
  background: none;
  border:1px solid black;
  border-radius: 50%;
  height: 40px;
  position: absolute;
  width: 40px;
  opacity: 30%
}

@keyframes slideb {
  0% {
    left: 50%;
    top: -100%;
  }
 
  35% {
    left: 43%;
    top: 180%;
  }
  70% {
    left: 50%;
    top: 300%;
  }
  100% {
    left: 35%;
    top: 390%;
  }
}


.stage3 {
  background: none;
  border-radius: 6px;
  height: 100px;
  position: relative;
  min-width: 300px;
}
 .ball3 {
  animation: slidec 8s linear;
  animation-iteration-count:infinite;
  animation-direction: alternate-reverse;

}
.ball3 {
  background: none;
  border:1px solid black;
  border-radius: 50%;
  height: 60px;
  position: absolute;
  width: 60px;
  opacity: 20%
}

@keyframes slidec {
  0% {
    right: 10%;
    top: -200%;
  }
 
  35% {
    right: 25%;
    top: 110%;
  }
  70% {
    right: 10%;
    top: 300%;
  }
  100% {
    right: 15%;
    top: 390%;
  }
}


